extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique volutpat tortor non dictum. Nam feugiat sapien quis ante pharetra, molestie posuere elit efficitur. Aliquam in ex leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                p Nullam auctor vitae mauris ut pretium. Praesent a justo dolor. Ut nec sapien in nulla pulvinar laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam eu eros elit. Duis vitae pellentesque quam, nec suscipit lacus. Integer feugiat tincidunt ullamcorper. Nullam eu ex velit.

                p Sed consequat pulvinar tortor, nec molestie ex bibendum vitae. Aenean id suscipit ex. Phasellus sodales turpis porta libero volutpat sagittis. Pellentesque ac leo est. Donec in enim purus. Nunc hendrerit hendrerit libero, quis suscipit dolor porta bibendum. Donec vestibulum augue ut finibus pharetra.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Praesent a justo dolor. Ut nec sapien in nulla pulvinar laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Praesent a justo dolor. Ut nec sapien in nulla pulvinar laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Praesent a justo dolor. Ut nec sapien in nulla pulvinar laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus.

